.search_people_container{
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    padding: 1rem 3% 3rem;
}

.search_people_container h2{
    color: #000;
}

th{
   text-align: left;
}
