.App {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: #404040;
  padding-top: 50px;
}

h1{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3%;
  color: #fff;
}

h2{
  color: #fff;
}

h3{
  margin-left: 3%;
  margin-top: .3rem;
  color: #fff;
}

.section-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.container1{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.container-search-people{
  min-height: 200px;
  width: 100%;
  background-color: lightblue;
}

.container-saved-people{
  min-height: 300px;
  width: 100%;
  background-color: olive;
}

.container2{
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.container-information{
  background-color: orange;
  width: 100%;
  min-height: 200px;
}

@media only screen and (min-width: 1024px) {
  .App {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: #404040;
    padding-top: 100px;
  }
  
  h1{
    margin-left: 20%;
    margin-top: 0;
    color: #fff;
  }
  
  h3{
    margin-left: 20%;
    color: #fff;
  }
  
  .section-container{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
  }
  
  .container1{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }
  
  .container-search-people{
    min-height: 200px;
    width: 100%;
    background-color: lightblue;
  }
  
  .container-saved-people{
    min-height: 300px;
    width: 100%;
    background-color: olive;
  }
  
  .container2{
    display: flex;
    width: 40%;
    margin: 0 auto;
  }
  
  .container-information{
    background-color: orange;
    width: 100%;
    min-height: 200px;
  }
}


